@import './title.css';
@import './couple-pic-and-location-section.css';
@import './nav-list-and-header-buttons.css';
@import './schedule-and-dresscode.css';
@import './gifts.css';
@import './media-queries.css';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  position: relative;
  height: auto;
}

.front-page {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgb(235, 180, 31, 0.12);
}

.corona-update {
  font-family: 'Aref Ruqaa', serif;
  display: block;
  position: absolute;
  top: 350px;
  height: min-content;
  width: 500px;
  background-color: #e9b953;
  z-index: 1;
  padding: 10px 28px;
  text-align: center;
  border-radius: 8%;
}

.corona-update-title {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  width: max-content;
  margin: 0px auto 10px auto;
  border-bottom: 3px solid #000000ad;
  color: #000000ad;
}

.corona-update-info {
  font-size: 22px;
  color: #000000ad;
}

.corona-update i {
  position: relative;
  left: 200px;
  top: 8px;
  font-size: 20px;
  color: #000000ad;
}

.corona-update i:hover {
  color: #efe1c3;
  cursor: pointer;
}

.dissappear {
  display: none
}

.common-section {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Aref Ruqaa', serif;
  font-size: 40px;
  color: rgb(126, 90, 13);
  padding-top: 200px;
}

.contact-wedding-info {
  padding-bottom: 100px;
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hotel-container {
  border: 6px double rgb(233, 185, 83);
  width: 969px;
}

.hotel-suggestion-title-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("/Images/eucalyptus-leaf-pile.jpg");
  height: 137px;
  opacity: 0.7;
}

.hotel-suggestion-title {
  display: flex;
  justify-content: center;
}

.hotel-suggestion-title p {
  border-bottom: 2px solid;
  margin: 20px 0;
}

.line-break {
  width: 350px;
}

.suggestion {
  padding: 10px;
  width: 350px;
}

.middle {
  margin-top: 10px;
}

.suggestion p {
  margin: 0;
}

.hotel {
  font-family: 'Aref Ruqaa', serif;
  color: rgb(99, 71, 10);
  font-size: 26px;
  padding: 20px 20px 10px 20px;
}

.contact {
  font-family: 'Aref Ruqaa', serif;
  color: rgb(126, 90, 13);
  font-size: 15px;
  padding: 20px;
}

.eucalyptus {
  height: 137px;
  overflow: hidden;
  margin-top: 50px;
}

.eucalyptus img {
  width: 100%;
  opacity: 0.8;
}

.contact-info p {
  color: rgb(126, 90, 13);
}

.contact-wrapper {
  width: 800px;
  display: flex;
  font-size: 20px;
}

.number-two {
  justify-content: center;
  flex-wrap: wrap;
  border: 6px double rgb(233, 185, 83);
  position: relative;
}

.contact-title {
  color: rgb(99, 71, 10);
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 16px;
}

.contact-title p {
  border-bottom: 2px solid rgb(99, 71, 10);
  margin: 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.german p {
  width: 190px;
}

.names {
  color: rgb(99, 71, 10);
  font-size: 25px;
}

.contact-wrapper img {
  height: 500px;
  margin-right: 50px;
  border-right: 6px double rgb(233, 185, 83);
}

.first {
  margin-bottom: 120px;
  border: 6px double rgb(233, 185, 83);
}

.english-bride-groom-title {
  width: 240px;
}

.contact-wrapper .pic-lilly {
  height: 200px;
  width: 155px;
  border: none;
  margin-right: 80px;
}

.bridesmaid-bestman {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  width: 550px;
}

.pic-wenzel {
  filter: grayscale(100%);
  height: 200px;
  width: 155px;
}