@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {
    li a {
    font-size: 18px;
  }

  .language-toggle button {
    right: 6px;
    top: 50px;
    font-size: 21px;
  }

  .language-toggle button .english-flag {
    height: 30px;
  }

  .language-toggle button img {
    width: 52px;
  }

  .suggestion > .contact {
    font-size: 20px;
  }

  .inner-container > .suggestion {
    width: 400px;
  }

  .inner-container > .line-break {
    width: 400px;
  }

  .hotel-suggestion-title {
    font-size: 44px;
  }

  .personal-contact-info {
    font-size: 22px;
  }

  .contact-wrapper > .bridesmaid-bestman {
    width: 600px;
  }

  .schedule-pic .schedule-title {
    font-size: 30px;
    left: 390px;
  }

  .schedule-pic p {
    font-size: 26px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1330px) {
  .location {
    margin: 0 180px;
  }
}

@media only screen and (max-device-width: 768px) {
  .couple-pic-container {
    margin: 100px 0;
  }

  .nav-list {
    display: none;
    align-content: unset;
  }  

  .date {
    margin-top: 48px;
    margin-bottom: 30px;
    align-content: unset;
  }

  .sticky {
    display: none;
  }

  .location {
    margin: 100px 5px;
  }

  .location-blurb {
    height: 318px;
    font-size: 20px;
  }

  .location-name {
    font-size: 28px;
    line-height: 46px;
    margin-bottom: 16px;
    margin-left: 0;
  }

  .location-section img {
    height: 318px;
  }

  .location-blurb {
    font-size: 22px;
  }

  .location-blurb p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
  }

  .schedule {
    margin-bottom: 100px;
  }

  .schedule-pic .schedule-title {
    top: 198px;
    left: 400px;
    font-size: 28px;
    margin-left: 22px;
  }

  .schedule-pic p {
    top: 269px;
    line-height: 42px;
    font-size: 23px;
    margin-left: 45px;
    margin-top: 0;
  }

  .dress-code {
    margin-bottom: 100px;
  }

  .dress-code-title {
    font-size: 66px;
    padding-bottom: 12px;
  }

  .dress-code-wrapper:hover > p {
    top: 15px;
    left: 194px;
    font-size: 25px;
  }

  #hotel-suggestions {
    margin-bottom: 100px;
  }

  .common-section .hotel-container {
    width: 85%;
  }

  .gifts {
    margin-bottom: 100px;
  }

  .language-toggle button img {
    width: 56px;
    height: 26px;
  }

  .language-toggle button {
    font-size: 26px;
    right: 10px;
  }
}