.schedule {
  width: 100%;
}

.schedule-pic {
  display: flex;
  justify-content: center;
  font-family: 'Handlee', cursive;
  position: relative;
}

.schedule-pic img {
  border: 6px double rgb(233, 185, 83);
  width: 969px;
}

.schedule-pic p {
  position: absolute;
  top: 240px;
  transform: rotate(-10deg);
  line-height: 50px;
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 45px;

}

.schedule-pic .schedule-title {
  text-decoration: underline;
  top: 200px;
  left: 405px;
  font-size: 28px;
  margin-top: 10px;
}

.dress-code-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dress-code-wrapper p {
  display: none
}

.dress-code-wrapper img {
  border: 6px double rgb(233, 185, 83);
}

.how-to-dress-img {
  opacity: 0.2;
}

.dress-code-title {
  position: absolute;
  padding-bottom: 26px;
  bottom: 6px;
  color: rgb(238, 169, 20);
  font-family: 'Handlee', cursive;
  font-weight: 900;
  font-size: 90px;
  background-color: rgba(43, 41, 41, 0.616);
  width: 98.6%;
  display: flex;
  justify-content: center;
}

.small-screens > img {
  opacity: 0.2;
}

.small-screens > div {
  background-color: #ffffff12;
  color: rgb(46, 43, 43);
}

.small-screens > p {
  display: block;
  position: absolute;
  top: 56px;
  left: 80px;
  font-size: 32px;
  margin-right: 0 50px;
  color: rgb(46, 43, 43);
}