* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    position: relative;
    height: auto;

}

.date {
    font-size: 50px;
}

.front-page {
    display: flex;
    position: relative;
}

.couple-pic-container {
    display: flex;
    position: relative;
}

.title-part1 {
    font-family: 'Heebo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    color: rgb(243, 208, 131);
    font-size: 50px;
    left: 80px;
    top: 55px;
    border-bottom: 3px solid rgb(243, 208, 131);
    border-top: 3px solid rgb(243, 208, 131);
    letter-spacing: 6px;
}

.title-married {
    font-family: 'Heebo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    color: rgb(52, 60, 37);
    font-size: 40px;
    bottom: 150px;
    background: rgb(248, 219, 157, 53%);
}

.title-married p {
    margin: 2px;
    font-size: 34px;
}

.title-2 {
    position: absolute;
    top: 130px;
    left: 80px;
    color: rgb(159, 170, 136);
    font-size: 40px;
}

.date-title {
    display: flex;
    justify-content: center;
}

.date-title p {
    font-family: 'Aref Ruqaa', serif;
    font-size: 24px;
    color: rgb(55, 56, 54);
    margin: 0;
    border-bottom: 3px solid rgb(55, 56, 54);
    border-top: 3px solid rgb(55, 56, 54);
}

.heart {
    display: inline;
    height: 1px;
}

.married {
    margin: 0;
    letter-spacing: 3px;
    font-style: italic;
}

.info {
    padding: 10px 20px;
    border: 30px solid;
    border-image: url('Images/more-fancy.png') 34 round;
}

.front-page img {
    height: 800px;
}

.front-page-right {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    background-color:  rgb(255, 255, 255);   
}

.language-toggle {
    position: relative;
}

.language-toggle button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(245, 245, 245, 0.822);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial;
    color: rgba(245, 245, 245, 0.822);  
    background-color: transparent;
    padding: 4px 10px;
    display: flex;
    width: 86px;
    align-items: center;
}

.language-toggle button img {
    width: 36px;
    height: 30px;
    padding-left: 8px;
}

.language-toggle button:hover {
    border: 2px solid rgba(245, 245, 245, 0.822);
    padding: 2px 8px;
}

.nav-list {
    list-style-type: none;
    padding-left: 10px;
}

li {
    padding: 10px 25px;
}

li a:hover {
    border-top: 2px solid rgb(72, 99, 96);
    border-bottom: 2px solid rgb(72, 99, 96);
}

li a {
    font-family: 'Aref Ruqaa', serif;
    text-decoration: none;
    font-size: 20px;
    color: rgb(55, 56, 54); 
    background-color: transparent;
}

.menu {
    display: none;
}