* {
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
}

body {
    margin: 0;
}

.container {
    position: relative;
    height: auto;

}

span {
    font-size: 40px;
    margin: 0 40px;
}

.date {
    font-size: 50px;
}

.front-page {
    display: flex;
    position: relative;
}

.title-part1 {
    position: absolute;
    color: rgb(241, 228, 200);
    font-size: 40px;
    left: 20px;
    top: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(241, 228, 200);
}

.title-part2 {
    position: absolute;
    color: rgb(241, 228, 200);
    font-size: 40px;
    left: 300px;
    top: 90px;
}

span {
    font-style: italic;
    margin: 0;
    border-bottom: 2px solid rgb(241, 228, 200);
}

.info {
    border: 5px solid;
    border-image: url('Images/eucalyptus-leaf-pile.jpg') 30 / 19px round;
}

.front-page img {
    height: 800px;
}

.front-page-right {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    background-color:  rgba(248, 219, 157, 0.726);   
}

.eucalyptus-decoration {
    position: absolute;
    top: 600px;
    opacity: 0.5;
}

.eucalyptus-decoration img {
    width: 100%;
    height: auto;
    border-top: 4px double rgb(72, 99, 96);
}

.language-toggle {
    position: relative;
}

.language-toggle button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(245, 245, 245, 0.822);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial;
    color: rgba(245, 245, 245, 0.822);  
    background-color: transparent;
    padding: 4px 10px;
    display: flex;
    width: 86px;
    align-items: center;
}

.language-toggle button img {
    width: 36px;
    height: 30px;
    padding-left: 8px;
}

.language-toggle button:hover {
    border: 2px solid rgba(245, 245, 245, 0.822);
    padding: 2px 8px;
}

.nav-menu {
    position: relative;
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: rgba(245, 245, 245, 0.822);
}

.nav-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding: 0 25px;
}

li a {
    background-color: transparent;  
    border: none;
}

li a:hover {
    border: 2px solid rgb(72, 99, 96);
    padding: 18px 8px;
}

li a {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    color: rgb(72, 99, 96);  
    background-color: transparent;
    padding: 4px 10px;
}

.menu {
    display: none;
}