* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    position: relative;
    height: auto;

}

.container::before {
    content: "";
    background-image: url(/Images/eucalyptus-small-bouquet-flowers.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.40;
}

header {
    width: 100%;
}

span {
    font-size: 40px;
    margin: 0 40px;
}

.date {
    font-size: 50px;
}

.title {
    position: relative;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 80px;
    margin: 0;
    padding: 10px 0;
    background-color:rgba(80, 119, 115, 0.767);
    line-height: 60px;
    color: rgb(241, 212, 114);
}

.front-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px auto;
}

.couple-main-pic {
    position: relative;
}

.couple-main-pic img {
    position: relative;
    box-shadow: -18px 20px 10px rgb(240 217 133);
    height: 600px;
    float: left;
    border-radius: 40px;
    top: 10px;
    left: 10px;
}

.language-toggle {
    position: relative;
}

.language-toggle button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(245, 245, 245, 0.822);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial;
    color: rgba(245, 245, 245, 0.822);  
    background-color: transparent;
    padding: 4px 10px;
    display: flex;
    width: 86px;
    align-items: center;
}

.language-toggle button img {
    width: 36px;
    height: 30px;
    padding-left: 8px;
}

.language-toggle button:hover {
    border: 2px solid rgba(245, 245, 245, 0.822);
    padding: 2px 8px;
}

.nav-menu {
    position: relative;
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: rgba(245, 245, 245, 0.822);
}

.nav-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding: 0 25px;
}

li a {
    background-color: transparent;  
    border: none;
}

li a:hover {
    border: 2px solid rgb(72, 99, 96);
    padding: 18px 8px;
}

li a {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    color: rgb(72, 99, 96);  
    background-color: transparent;
    padding: 4px 10px;

}

.menu {
    display: none;
}

.location {
    display: flex;
    align-items: center;
    margin: 6vw 6vw 6vw 10vw;
}

.first-location-picture {
    position: relative;
    box-shadow: 20px 0px 10px rgb(240 217 133);
}

.first-location-picture img {
    width: 600px;    
}

.first-location-picture-explanation {
    display: flex;
    align-items: center;
    height: 10vh;
    position: relative;
}

.first-location-picture-explanation p {
    font-size: 36px;
    font-family: 'Caveat', cursive;
    color: rgb(72, 99, 96);
    margin: 30px 0 30px 50px;
    padding: 10px;
}

.first-location-picture-explanation p:hover {
    border: 2px solid rgb(72, 99, 96);
    background-color: rgba(245, 245, 245, 0.822);
    width: 260px;
    height: 60px;
    cursor: pointer;
    padding: 5px 0px 0px 8px;
}